<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-avatar>
      <img src="assets/caraFeliz.png">
    </ion-avatar>

  <ion-item class="recuadros-login" >
    <ion-label  position="floating" class="labels">Usuario</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <ion-item class="recuadros-login">
    <ion-label position="floating" class="labels">Clave</ion-label>
    <ion-input type="password"> </ion-input>
  </ion-item>

  </div>

</ion-content>
