<ion-header>
  <ion-toolbar color="warning">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <img src="assets/asistencia.png" >
    <h2>¡Bienvenidos estudiantes !</h2>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password"> </ion-input>
    </ion-item>
    <br>
    <ion-button color="warning" [routerLink]="['/registrar']" expand="block">Ingresar</ion-button>
    <br>

    <ion-router-link href="#" class="underline">Olvide mi clave de acceso</ion-router-link>

    <style>
      .underline {
          text-decoration: underline;
        }
    </style>

  </div>

</ion-content>







