.centrado--qr{
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

.centrado--caja--texto{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
