.menu-header-color{
    height: 100%;
    width: 350px;
    background: linear-gradient(90deg, #ee8f42 0%, #e77a72 100%);
    
}


ion-content {
    --ion-background-color: linear-gradient(90deg, #ee8f42 0%, #e77a72 100%) !important;
}