<ion-app>

  <ion-menu-toggle auto-hide="false">
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="warning">
          <ion-title></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list class="menu-header-color">
          <ion-item class="menu-items" [routerLink]="['/recuperacion-clave']">
            <ion-icon name="person-circle-outline"></ion-icon>
            Perfil</ion-item>
          <ion-item [routerLink]="['/home']">
            <ion-icon name="log-out-outline"></ion-icon>
          Cerrar Sesion</ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-menu-toggle>

<ion-router-outlet id="main"></ion-router-outlet>
</ion-app>


