
<ion-header>
  <ion-toolbar color="warning" >
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardHorario">
    <ion-card-header>
      <ion-card-subtitle>Horario alumno <div>
        {{myDate | date }}
      </div></ion-card-subtitle>
      <ion-card-title>Horario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      <ion-button color="warning" [routerLink]="['/horario']" >Ir a horario</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="cardProfesor">
    <ion-card-header>
      <ion-card-subtitle>Profesor</ion-card-subtitle>
      <ion-card-title>Profesor</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button color="warning" [routerLink]="['/profesores']" >Ir a profesores</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="cardProfesor">
    <ion-card-header>
      <ion-card-subtitle>Lista</ion-card-subtitle>
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="warning" [routerLink]="['/lista']" >Lista de Asistencia</ion-button>
    </ion-card-content>
    </ion-card>
  



</ion-content>




