ion-content{
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
      url("/assets/Tecno-Nacional.png") no-repeat center center / cover;


      .cardHorario{
        --background: rgb(255, 255, 255);
      }
      .cardProfesor{
        --background: #FFF;
      }
  }

